<.header>
  Edit Users <%= @users.id %>
  <:subtitle>Use this form to manage users records in your database.</:subtitle>
</.header>

<.users_form changeset={@changeset} action={~p"/users/#{@users}"} />

<.back navigate={~p"/users"}>Back to users</.back>
